In [6]:
import pandas as pd

bribery_prevalence = pd.read_csv('reasons_for_bribing_final.csv')


bribery_prevalence.head()

,Unnamed: 0,County,It was the only way,To hasten the process,To avoid problems with authority,To avoid paying full cost of service,To access service,Was expected
0,0,Bomet,100.0,0.0,0.0,0.0,0.0,0.0
1,1,Kericho,94.4,0.0,5.6,0.0,0.0,0.0
2,2,Garissa,90.8,5.2,4.0,0.0,0.0,0.0
3,3,Narok,90.6,9.4,0.0,0.0,0.0,0.0
4,4,Nyamira,85.1,0.0,13.1,1.8,0.0,0.0